[Unit]
Description=TORQUE node

[Service]
Type=forking
PIDFile=/var/spool/torque/mom_priv/mom.lock
ExecStart=/usr/sbin/pbs_mom
ExecStop=/usr/sbin/momctl -s
 
[Install]
WantedBy=multi-user.target 
