[Unit]
Description=TORQUE server
Wants=trqauthd.service

[Service]
Type=forking
PIDFile=/var/spool/torque/server_priv/server.lock
ExecStart=/usr/sbin/pbs_server
TimeoutSec=30

[Install]
WantedBy=multi-user.target
