[Unit]
Description=TORQUE scheduler
Wants=pbs_server.service
After=pbs_server.service

[Service]
Type=forking
PIDFile=/var/spool/torque/sched_priv/sched.lock
ExecStart=/usr/sbin/pbs_sched

[Install]
WantedBy=multi-user.target
